@font-face
  font-family: 'sell-icon'
  src: url('fonts/sell-icon.eot?e9pe4t')
  src: url('fonts/sell-icon.eot?e9pe4t#iefix') format('embedded-opentype'),
  url('fonts/sell-icon.ttf?e9pe4t') format('truetype'),
  url('fonts/sell-icon.woff?e9pe4t') format('woff'),
  url('fonts/sell-icon.svg?e9pe4t#sell-icon') format('svg')
  font-weight: normal
  font-style: normal

[class^="sell-icon"], [class*=" sell-icon"]
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sell-icon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.sell-iconadd_circle:before
  content: "\e900"

.sell-iconarrow_lift:before
  content: "\e901"

.sell-iconcheck_circle:before
  content: "\e902"

.sell-iconclose:before
  content: "\e903"

.sell-iconfavorite:before
  content: "\e904"

.sell-iconkeyboard_arrow_right:before
  content: "\e905"

.sell-iconremove_circle_outline:before
  content: "\e906"

.sell-iconshopping_cart:before
  content: "\e907"

.sell-iconthumb_down:before
  content: "\e908"

.sell-iconthumb_up:before
  content: "\e909"

.sell-iconadd_circle2:before
  content: "\e90a"

.sell-iconarrow_lift2:before
  content: "\e90b"

.sell-iconcheck_circle2:before
  content: "\e90c"

.sell-iconclose2:before
  content: "\e90d"

.sell-iconfavorite2:before
  content: "\e90e"

.sell-iconkeyboard_arrow_right2:before
  content: "\e90f"

.sell-iconremove_circle_outline2:before
  content: "\e910"

.sell-iconshopping_cart2:before
  content: "\e911"

.sell-iconthumb_down2:before
  content: "\e912"

.sell-iconthumb_up2:before
  content: "\e913"

