<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <script src="js/vue.js"></script>
    <title></title>
</head>
<body>

<div id="container">
    <todobox></todobox>
</div>

<script>
    var bus = new Vue();
    Vue.component('todobox',{
        template:`
            <div>
                <todoinput></todoinput>
                <todolist></todolist>
            </div>
        `
    })

    Vue.component('todoinput',{
        data: function () {
            return {
                userInput:''
            }
        },
        methods:{
            addToList: function () {
                //触发自定义事件，并传值
                bus.$emit('addEvent',this.userInput)
                this.userInput = "";
            }
        },
        template:`
            <div>
                <h1>待做事项列表</h1>
                <input type="text" v-model="userInput"
                placeholder="请输入要做的事情"/>
                <button @click="addToList">add</button>
            </div>
        `
    })


    Vue.component('todolist',{
        data: function () {
          return {
              myList:[]
          }
        },
        template:`
            <ul>
                <todoitem
                 :myContent="tmp"
                v-for="(tmp,index) in myList"
                   :myIndex="index"
                :key="index"></todoitem>
            </ul>
        `,
        beforeMount: function () {
            //事件绑定
            bus.$on('addEvent',  (content)=> {
                // content就是触发事件所传来的数据
                console.log(content);
                this.myList.push(content);
            });
        }
    })

    Vue.component('todoitem',{
        methods:{
            deleteFromList: function () {
                //得到父组件的数组，从数组中删除指定下标的元素
                this.$parent.myList.splice(this.myIndex,1);
            }
        },
        props:['myIndex','myContent'],
        template:`
        <li>
            <button @click="deleteFromList">delete</button>
            <span>{{myContent}}</span>
        </li>
        `
    })





    new Vue({
        el: '#container',
        data: {
            msg: 'Hello Vue'
        }
    })
</script>

</body>
</html>